[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-huggingface = "*"
huggingface-hub = "*"
numpy = "<2"
langchain = "*"
streamlit = "*"
openai = "*"
python-dotenv = "*"
watchdog = "*"
gradio = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.12"
